@import 'accueil';
@import 'intro';
@import 'laboratoire';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;

    main{
        width: 100%;
        height: 100%;
    }
}


.background{
    //visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block
    }
}

.scene_wrapper{
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    //visibility: hidden;

    .scene{
        position: relative;
        width: 90%;
        height: auto;

        .background-scene{
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            display: block;
            object-fit: cover;
        }
    
        .scenery{
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            margin: auto;
            pointer-events: none
        }
    }
}

.next{
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
    pointer-events: none
}

.flex-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.flex-full-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: none !important;
    height: 100vh !important;
}

.commands{
    visibility: hidden;
    cursor: pointer;
    transform: scale(1);
    padding: 10px;
    border: none;
    width: 300px;
    border-radius: 5px;
    background-color: #204987;
    color: #fcc801;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    transition: transform 0.5s ease-out;

    &:hover{
        transform: scale(1.1);
    }
}