*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;

    main{
        width: 100%;
        height: 100%;

        #menu{
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
    
            >div{
                opacity: 1;
                visibility: inherit;
                width: 400px;
                height: fit-content;
            
                > div:nth-child(1){
                    padding-bottom: 50px;
                }
            
                > #logo{
                    > img, #commands{
                        width: 400px;
                    }
            
                    > h1{
                        text-align: center;
                    }
                }
            }
            
            #commands > button{
                cursor: pointer;
                transform: scale(1);
                padding: 10px;
                border: none;
                width: 300px;
                border-radius: 5px;
                background-color: #204987;
                color: #fcc801;
                font-size: 35px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-transform: uppercase;
                transition: transform 0.5s ease-out;
            
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    
        #background{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
    
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block
            }
        }
    }
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-full-center{
    display: flex;
    justify-content: center;
    align-items: center;
}