@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("medias/fonts/Glipervelz.ttf");
#accueil {
  width: 100%;
  height: 100%;
}
#accueil #menu {
  visibility: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#accueil #menu > div {
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#accueil #menu > div > div:nth-child(1) {
  padding-bottom: 25px;
}
#accueil #menu > div > #logo > img, #accueil #menu > div > #logo .commands {
  width: 400px;
}
#accueil #menu > div > #logo > h1 {
  text-align: center;
}

#intro .carrousel {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px;
}
#intro .carrousel .carrousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #071b43;
  display: flex;
  flex-direction: row;
}
#intro .carrousel .carrousel-container .image {
  visibility: hidden;
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#intro .carrousel .carrousel-btn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#intro .carrousel .carrousel-btn > p {
  position: absolute;
  font-weight: 700;
  color: #e8c535;
  cursor: pointer;
  margin: 0;
  padding: 0;
  z-index: 20;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
#intro .carrousel .carrousel-btn > p > span {
  font-size: 60px !important;
  transition: font-size 0.2s ease-out;
  transform: scale(1);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
#intro .carrousel .carrousel-btn > p > span:hover {
  transform: scale(1.2);
}
#intro .carrousel .carrousel-btn #left {
  visibility: hidden;
  left: 0;
}
#intro .carrousel .carrousel-btn #right {
  right: 0;
}

#laboratoire .scene .object {
  position: absolute;
  width: 5%;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}
#laboratoire .scene #lighter {
  left: 25.5%;
  top: 49.5%;
  width: 3%;
}
#laboratoire .scene #pool_product {
  left: 41.75%;
  top: 32.5%;
}
#laboratoire .scene #hairspray {
  left: 52.5%;
  top: 44.5%;
  width: 3.5%;
}
#laboratoire .scene #landing_net {
  left: 62.5%;
  top: 40.5%;
}
#laboratoire .scene #toilet_bowl {
  width: 4%;
  left: 47.5%;
  top: 26.5%;
}
#laboratoire .collectibles {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
#laboratoire .collectibles > div:not(:last-child) {
  margin-right: 10px;
}
#laboratoire .collectibles > div p {
  color: white;
  text-align: center;
}
#laboratoire .collectibles > div > div {
  width: 90px;
  height: 90px;
  background-color: #204987;
  border: 5px solid #fcc801;
  border-radius: 50%;
  margin-bottom: 10px;
}
#laboratoire .collectibles > div > div img {
  width: 75px;
  filter: grayscale(1);
  opacity: 0;
  transition: 1s;
}

#couloir .discussion {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: end;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
#couloir .discussion img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#couloir #need_translator img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
}
#couloir .scene_wrapper #licorn {
  pointer-events: none;
  position: absolute;
  width: 3.5%;
  top: 68%;
  left: 20%;
}
#couloir .scene_wrapper #plants {
  width: 15%;
  top: 37.5%;
  right: 15%;
}

#vaisseau .simon_container {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 10;
}
#vaisseau .simon_container > div {
  position: absolute;
  background-color: #4a4e69;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 375px;
  width: 1400px;
  display: flex;
}
@media all and (max-width: 1410px) {
  #vaisseau .simon_container > div {
    transform: scale(0.7);
  }
}
#vaisseau .simon_container .dots {
  height: 100%;
  width: 17.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#vaisseau .simon_container .dots ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
#vaisseau .simon_container .dots ul li {
  background-color: #988a97;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#vaisseau .simon_container .dots ul:nth-child(2n+1) li {
  background-color: #23233a;
}
#vaisseau .simon_container .screen_wrapper {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#vaisseau .simon_container .screen_wrapper div, #vaisseau .simon_container .screen_wrapper input {
  background-color: black;
  width: 100%;
  color: white;
  padding: 20px;
}
#vaisseau .simon_container .screen_wrapper .screen {
  height: 250px;
}
#vaisseau .simon_container .screen_wrapper #bar {
  height: 40px;
  border: none;
  font-family: "VT323", monospace;
  font-size: 25px;
}
#vaisseau .simon_container .screen_wrapper #bar:focus, #vaisseau .simon_container .screen_wrapper #bar:focus-visible {
  outline: none;
}
#vaisseau .simon_container .simon_wrapper {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#vaisseau .simon_container .simon_wrapper .top {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#vaisseau .simon_container .simon_wrapper .top .bars {
  width: 200px;
  height: 100px;
}
#vaisseau .simon_container .simon_wrapper .top .bars ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
#vaisseau .simon_container .simon_wrapper .top .bars ul li {
  width: 100%;
  height: 10px;
  background-color: #988a97;
}
#vaisseau .simon_container .simon_wrapper .top #simon .click {
  opacity: 0.25;
}
#vaisseau .simon_container .simon_wrapper .top #simon .lock {
  pointer-events: none !important;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container {
  pointer-events: inherit;
  background-color: #23233a;
  border-radius: 200px;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container .row {
  display: flex;
  justify-content: center;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container .row #green {
  background-color: green;
  border-radius: 200px 0 0 0;
  cursor: pointer;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container .row #red {
  background-color: red;
  border-radius: 0 200px 0 0;
  cursor: pointer;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container .row #yellow {
  background-color: yellow;
  border-radius: 0 0 0 200px;
  cursor: pointer;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container .row #blue {
  background-color: blue;
  border-radius: 0 0 200px 0;
  cursor: pointer;
}
#vaisseau .simon_container .simon_wrapper .top #simon .container .row .color-btn {
  height: 120px;
  width: 120px;
}
#vaisseau .simon_container .simon_wrapper .bottom {
  width: 235px;
  display: flex;
  justify-content: end;
}

@font-face {
  font-family: "Glipervelz";
  src: url("medias/fonts/Glipervelz.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

body {
  background-color: black;
  height: 100vh;
  font-family: "VT323", monospace;
  font-size: 25px;
}
body main {
  width: 100%;
  height: 100%;
}

area {
  cursor: pointer;
}

.flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-full-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-height: none !important;
  height: 100vh !important;
}

.commands {
  visibility: hidden;
  cursor: pointer;
  transform: scale(1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #204987;
  color: #fcc801;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  transition: transform 0.5s ease-out;
}
.commands:hover {
  transform: scale(1.1);
}

.alarm {
  opacity: 0;
  transition: 1s;
}

#dead_pop-up {
  z-index: 35 !important;
}

.active {
  opacity: 100 !important;
}

.timer_container {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: #204987;
  color: #fcc801;
  margin: 20px;
  border-radius: 5px;
  z-index: 30;
}
.timer_container #timer {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

.next {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 27;
  pointer-events: none;
}

.diapo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 25;
  pointer-events: none;
}
.diapo img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.pop-up {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 9;
}

.message {
  background-color: #204987;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 850px;
  margin: 50px;
}
.message > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}
.message > div:nth-child(1) h2 {
  margin-bottom: 20px;
}
.message img {
  height: 350px;
  margin-left: 50px;
}
.message button {
  font-size: 20px;
  border: 2.5px solid #fcc801;
}

.exit {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.scene_wrapper {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
}
.scene_wrapper .scene {
  position: relative;
  width: 90%;
  height: auto;
}
.scene_wrapper .scene #background-scene {
  width: 100%;
}
.scene_wrapper .scene .scenery {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.background {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.background video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}/*# sourceMappingURL=style.css.map */